.prodRow{
    border-bottom: 5px double rgb(231, 229, 229);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
}

.media{
    aspect-ratio: 1/1;
    width: 120px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}

.media img{
    width: 100%;
    height: 100%;
    object-fit: contain;    
    display: block;
}

.title{
    max-width: 30ch;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.qty{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.25rem;
}

.subtotal{
    font-size: 1.25rem;
    letter-spacing: .2rem;
}

.delete{
    background-color: #C41E3D;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    box-shadow: 3px 3px 6px grey;
    cursor: pointer;
    width: 10rem;
}

.delete:hover, .delete:focus-visible{
    transform: translateY(-5px);
    outline: none;
    box-shadow: 6px 6px 10px black;
}