.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin: 1rem auto;
    align-items: start;
    justify-content: center;
    max-width: 1100px;
}