.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
    border: 2px solid #dcd9d5;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
    background-color: #fafafae9;
    height: 480px;
}

.media{
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.media img{
    width: 100%;
    height: 100%;
    object-fit: contain;    
    display: block;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: .9rem;
}

.price{
    font-size: 1.25rem;
}

.btn {
    margin: 0 auto;
}

.delete{
    background-color: red;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 12px 24px;
    font-size: 1rem;
    box-shadow: 3px 3px 6px grey;
    cursor: pointer;
}

.delete:hover, .delete:focus-visible{
    transform: translateY(-5px);
    outline: none;
    box-shadow: 6px 6px 10px black;
}