.container{
    display:  grid;
    justify-content: center;
    background-color: #cec9c4;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

nav img{
    max-width: 30px;
}

h1{
    font-size: clamp(2rem, 3rem, 3vw);
    font-family: 'Kite One';
    letter-spacing: .65rem;
}

.navLink{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}