.container{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcd9d5;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

nav img{
    max-width: 30px;
}

h1{
    font-size: clamp(2rem, 2rem, 2.25vw);
    font-family: 'Kite One';
    letter-spacing: .65rem;
}

.navLink{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    letter-spacing: .15rem;
}

.navLink:hover, .navLink:focus-visible{
    outline: none;
    color: #885492;
    text-shadow: 4px 4px 8px grey;
    font-weight: 600;
    font-size: 1.25rem;
}