.footer{
    display: flex;
    justify-content: space-evenly;
}

.info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footLinks{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footLinks a{
    text-decoration: none; 
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footLinks a:hover, .footLinks a:focus-visible{
    outline: none;
    color: #885492;
    font-weight: 600;
    font-size: 1.25rem;
}