.hero{
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img{
    max-width: 100%;
    height: auto;
    object-fit: cover;    
    display: block;
}

h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -90%);
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-family: 'Kite One';
    color: #ffff;
    font-style: italic;
    background-image: linear-gradient(#00000029, #00000029);
    border-radius: 10px;
    padding: 0.25em 0.5em .25em .2em;
    backdrop-filter: blur(6px);
}

.cta {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    z-index: 100;
}